<!-- Title wird mit im Reiter des Browsers angezeigt -->
@{
    ViewData["Title"] = "Home Page";
}

<!-- View der Seite, mit der die Webanwendung zunächst Startet -->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Für die Übersicht über die eingetragenen Bücher, bitte oben den Reiter "Bücher" auswählen.</p>
</div>
