@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Für die Übersicht über die eingetragenen Bücher, bitte oben den Reiter "Bücher" auswählen.</a>.</p>
</div>
