@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- View der Privacy-Seite, diese wurde aber auskommentiert, da in diesem Kontext unnötig-->
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
