@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- 
    View für das Formular mit dem neue Bücher in die Datenbank eingefügt werden können 
    Frei beschreibbare Felder für den Titel und den Autor, sowie ein Dropdown-Feld für den Typ
-->

@{
    ViewData["Title"] = "Neues Buch anlegen";
}

@model BuecherEinfuegenModel

<p> Fügen Sie ein neues Buch hinzu:</p>

<form asp-controller=Buch asp-action=Einfuegen>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <label class="control-label">Titel</label>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div>
        <label class="control-label">Autor</label>
        <input asp-for="Author" class="form-control"/>
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div>
        <label class="control-label">Type</label>
        <select asp-for="Type" asp-items="Model.BuchTypen" class="form-control"></select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <p></p>
    <div class="form-group">
        <input type="submit" value="Anlegen" class="btn bg-primary" />
    </div>
</form>
